@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Rubik&family=Rubik+Dirt&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
}


#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
       width: 1200px;
       margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo{
    width: 60px;
}

.logo-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    margin-left: -1rem;
    font-size: 28px;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 3rem;
    padding-bottom: 8rem;

}

.faded-text{
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);
    bottom: -16;
    left: -5;
    font-weight: bold;
    transition: all 3s;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.hero-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

#btn{
    background-color: red;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 100px;
    box-shadow: 1px 1px  black;
}

.hero-right{
    position: relative;
}

.user-img{
    padding: 2.5rem;
    filter: grayscale(1);
    height: 35rem;
}

