*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: brown;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,2fr);
    gap: 10px;
}

.box{
    background: gold;
    border: 2px solid black;
    /* height: 100px;
    width: 90px; */
}

#box1{
    grid-row-start: 1;
    grid-row-end: 3;
}