@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Fjalla+One&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Londrina+Solid&family=Rubik&family=Rubik+Dirt&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.left-box{
    height: 100vh;
    width: 100%;
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1536520807309-1f7bae9f8be5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
}




.nav{
    height: 80px;
    width: 100%;
    /* background-color: black; */
    margin: 5px 0 0 30px;
}

.logo{
    margin-top: 0;
}
.logo img{
    margin-top: 10px;
    height: 80px;
}

.coming-box{
  margin: 0 20%;
  width: 60%;
  height: 300px;
  padding: 10px;
  /* background-color: blue; */
  text-align: center;
}

button{
    margin-top: 30px;
    height: 40px;
    width: 180px;
    font-size: 20px;
    font-weight: 500;
    font-weight: bold;
    color: #fff;
    
    background-color: rgba(61, 92, 119, 0.288);
}
.button:hover{
    background-color: rgba(27, 88, 104, 0.699);
}


.main-head{
    font-size: 80px;
    text-align: center;
    font: 800;
    font-family: 'Londrina Solid';
    margin-top: 30px;
    margin-bottom: 10px;

 
}

.coming-box .sub-head{
    font-size: 25px;
    font-family: 'Londrina Solid';

}

.end{
    position: absolute;
    background-color: rgba(22, 11, 11, 0.658);
    color: #ffffff;
    top: 83%;
    left:30%;
}

.social{
    margin: 0 14%;
    position: absolute;
    top: 89%;
    left:30%;
    width: 140px;
    display: flex;
    justify-content: space-between;
    background-color: #cc171757;
}

@media screen and (max-width: 599px){
    .social{
        margin: 0 14%;
        position: absolute;
        top: 95%;
        left:15%;
        width: 140px;
        display: flex;
        justify-content: space-between;
        background-color: #cc171757;
    }
    .end{
        position: absolute;
        background-color: rgba(22, 11, 11, 0.658);
        color: #ffffff;
        top: 83%;
        left:10%;
        right: 10%;
    }
    
    .left-box{
        height: 100vh;
        width: 100%;
        color: #fff;
        background-image: url(https://images.unsplash.com/photo-1536520807309-1f7bae9f8be5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
        background-size: 100% 100%;
        object-fit: cover;
    }
}